#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20PX;
    background-color: rgb(239, 234, 228);
}

#card{
    background-color: #FFFFFF;
    height: 700px;
    width: 600px;
    padding: 20px;
    padding-top: 20px;
    border-radius: 10px;

    
}
#card:hover{
    box-shadow: 5px 5px 5px gray,-5px -5px 5px gray;
}
#image{
    width: 50%;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 100px;
    
}
#title{
    /* width: 90%; */
    height: 100px;
}
#description{
     /* width: 90%; */
     height: 200px;
     overflow: hidden;
     white-space: no-wrap;
     text-overflow: ellipsis;
}
#flexing{
    display: flex;
    /* width: 90%; */
    justify-content: space-between;
    color: rgb(105, 96, 96);
    
}
#rating{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.fa-star{
    color: orange;
}
