#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20PX;
    background-color: rgb(239, 234, 228);
    
}

#card{
    background-color: #FFFFFF;
    height: 500px;
    width: 400px;
    padding: 20px;
    padding-top: 20px;
    border-radius: 10px;
    

}
#card:hover{
    box-shadow: 5px 5px 5px gray,-5px -5px 5px gray;
   

    
}
#card:hover #description{
    -webkit-line-clamp: unset; /* expand */
    overflow: visible;
}
#image{
    width: 50%;
    height: 120px;
    margin-bottom: 10px;
    margin-left: 70px;
    
}
#title{
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#description{
     /* height: 150px;
     overflow: hidden;
     text-overflow: ellipsis; */
     height: 140px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;   /* number of lines */
    overflow: hidden;
    white-space: normal;
}

#flexing{
    display: flex;
    justify-content: space-between;
    color: rgb(105, 96, 96);
    
}
#rating{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.fa-star{
    color: orange;
}
